@keyframes transitionsIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

html,
body {
    background-color: #211F2B;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    justify-content: center;
    animation: transitionsIn 0.75s;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #211F2B url('./loading.gif') no-repeat center;
    z-index: 10000;
}

h1,
h2 {
    margin: 0;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 70px
}

h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
    padding: 0;
    width: 120%;
    justify-content: center;
}

.divider {
    width: 100px;
    height: 3px;
    margin: 20px auto;
    background-color: #617BFF;
}

input {
    position: center;
    text-align: center;
    display: block;
    margin: 0;
    border-radius: 7px;
    border: 2px white solid;
    background-color: white;
    padding: 10px 20px;
    width: 20%;
    color: #1E1C29;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: all 0.2s;
}

label {
    color: #fff;
    justify-content: center;
    margin-right: 350px;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px #617BFF solid;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    width: 300px;
    margin: 0 auto;
    border-radius: 14px;
    padding: 30px 30px 20px 30px;
    margin-top: 50px;
    justify-content: center;
}

input[name="Account Id"] {
    font-size: 20px;
    font-weight: 600;
    margin-left: 660px;
    margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    /* -webkit-appearance: none; */
    margin: 0;
}

input[type=submit] {
    margin-left: 690px;
    cursor: pointer
}

#submit-btn{
    display: block;
    text-decoration: none;
    border-radius: 7px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border: 2px #617BFF solid;
    color: white;
    background-color: #617BFF;
    padding: 15px;
    transition: all 0.2s;
    margin-left: 580px;
    cursor: pointer
}

#submit-btn:hover {
    border: 2px #8095FF solid;
    background-color: #8095FF;
}

#submit-btn:disabled {
    border: 2px rgba(255, 255, 255, 0.1) solid;
    background-color: rgba(255, 255, 255, 0.1);
}
